/bin
/.vs
/CircleGameConfig/bin
/CircleGameConfig/obj
/CircleGameConfigCore/obj
/CircleGameConfigCore/bin
/CircleGameLoger/obj
/CircleGameLoger/bin
/CircleGameModel/obj
/CircleGameModel/bin
/CircleGameService/obj
/CircleGameService/bin
/packages
/obj
/CircleGameConfigCore/Class1.cs
/CircleGameLogerCore/obj
/CircleGameLogerCore/bin/Debug/net5.0
/CircleGameModelCore/bin/Debug/net5.0
/CircleGameModelCore/obj
/CircleGameServiceCore/bin/Debug/net5.0
/CircleGameServiceCore/obj
/CircleGameControl/obj
/CircleGameControlCore/bin/Debug/net5.0
/CircleGameControlCore/obj
/CircleGameControl
/CircleGameDTOCore/obj
/ICircleGameServiceCore/bin/Debug/net5.0
/CircleGameDTOCore/bin/Debug/net5.0
/ICircleGameServiceCore/obj
