<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mobile" value="18280605160"/>
    <add key="password" value="7464x8"/>
    <add key="type" value="2"/>
    <add key="unitPrice" value="2.5"/>
    <add key="doubleUnitPrice" value="5"/>
    <add key="baseUrl" value="http://weixin.xsjplm.com/"/>
    <add key="loginUrl" value="login/"/>
    <add key="circleId" value="115497"/>
    <add key="limit" value="30"/>
    <add key="winCount" value="win_count"/>
    <add key="sortOrder" value="desc"/>
    <add key="dateTime" value="2022-02-10"/>
    <!--圈子成员列表-->
    <add key="allMemberListUrl" value="api/getAllMemberList"/>
    <add key="memberRankUrl" value="api/memberRank"/>
    <!--合伙人列表-->
    <add key="inviteRankUrl" value="api/inviteRank"/>
    <!--邀请人对应的邀请列表-->
    <add key="myInviteDetail" value="api/myInviteDetail"/>
    <!--被邀请人所赢牌局列表-->
    <add key="winnerRecord" value="api/getWinnerRecord"/>
  </appSettings>
</configuration>
